<?xml version='1.0' encoding='utf-8'?>
<Server port="9004" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">
    <Executor name="tomcatThreadPool" namePrefix="catalina-exec-"
        maxThreads="1000" minSpareThreads="10"/>

    <Connector port="8004" protocol="HTTP/1.1"
      executor="tomcatThreadPool"
      connectionTimeout="20000" 
      enableLookups="false" 
      URIEncoding="UTF-8" 
      redirectPort="8443" 
      acceptCount="1000" 
      maxKeepAliveRequests="1"
      compression="on"  
      compressionMinSize="2048" 
      noCompressionUserAgents="gozilla, traviata" 
      compressableMimeType="text/html,text/xml,text/javascript,text/css,text/plain,application/javascript,application/json,image/gif"/>

    <Engine name="Catalina" defaultHost="comment.daojia-inc.com">
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
      </Realm>
      
      <Host name="comment.daojia-inc.com" appBase="" unpackWARs="true" xmlValidation="false" xmlNamespaceAware="false" deployXML="false" deployOnStartup="false" autoDeploy="false">
        <Context path="" docBase="/opt/web/dianshangwuxian_dop_comment_web/webapps" crossContext="true" allowLinking="true" reloadable="false" maxPostSize="2048">
          <!--<Loader className="org.apache.catalina.loader.VirtualWebappLoader" virtualClasspath="/opt/web/wf/*.jar"/>-->
          <JarScanner scanAllDirectories="true" />
        </Context>
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs" prefix="dop.comment.web_access_log." suffix=".txt" pattern="%a %u %t '%m %v%U%q' %T %s %B '%{Referer}i' '%{User-Agent}i' '%{X-Forwarded-For}i'" resolveHosts="false"/>
      </Host>
    </Engine>
  </Service>
</Server>

